@charset "UTF-8";

/* 스킵 내비게이션 */
.skip {position: relative; }
.skip a { position: absolute; left: 0; top: -35px; border: 1px solid #fff; color: #fff; background: #333; line-height: 30px; text-align: center;}
.skip a:active,
.skip a:focus {top: 0;}

/* 레이아웃 */
.wrap { }
.header{height: 325px; background: #111; background: url(../img/header_bg.jpg) center top repeat-x;}
.contents{}
.footer {  height: 200px; background: #333; }

/* 컨텐츠 레이아웃 */
.cont_nav { background-color: #f6fdff;}
.cont_tit {background-color: #EAF7FD;}
.cont_ban {background-color: #dceff7; }
.cont_cont {background-color: #f6fdff; }

/* 컨테이너 */
.container { width: 990px; margin: 0 auto; height: inherit; background: rgba(255,255,255,0.3);}

/*  헤더 */
.header_wrap{}
.header_wrap .header_menu{ text-align: right;}
.header_wrap .header_menu a{ color: #fff; padding: 10px 0 10px 13px; display: inline-block;}
.header_wrap .header_menu a:hover{ color: #666;}
.header_wrap .header_tit{text-align: center; }
.header_wrap .header_tit h1{ background-color: #4aa8d4; font-size: 28px; padding: 5px 20px 6px 20px; display: inline-block; color: #fff; margin-top: 40px; font-weight: normal; text-transform: uppercase;}
.header_wrap .header_tit a{ display: inline-block; background: #2698cb; font-size: 18px; color: #fff; padding: 5px 20px 6px 20px; margin-top: -5px;}
.header_wrap .header_icon{ text-align: center; margin: 30px;}
.header_wrap .header_icon a{ width: 60px; height: 60px; display: inline-block; background: url(../img/icon.png); margin: 0 3px;}
.header_wrap .header_icon a.icon1{ background-position: 0 0;}
.header_wrap .header_icon a.icon2{ background-position: 0 -60px;}
.header_wrap .header_icon a.icon3{ background-position: 0 -120px;}
.header_wrap .header_icon a.icon4{ background-position: 0 -180px;}
.header_wrap .header_icon a.icon1:hover{ background-position: -60px 0;}
.header_wrap .header_icon a.icon2:hover{ background-position: -60px -60px;}
.header_wrap .header_icon a.icon3:hover{ background-position: -60px -120px;}
.header_wrap .header_icon a.icon4:hover{ background-position: -60px -180px;}

/* 전체 메뉴 */
.nav{ overflow: hidden; padding: 30px 0;}
.nav >div{ float: left; width: 40%;}
.nav >div:last-child{ width: 20%;}
.nav >div h3{font-size: 18px; color: #25a2d0; margin-bottom: 4px;}
.nav >div ol{ overflow: hidden;}
.nav >div ol li{float: left; width: 50%;}
.nav >div ol li a:hover{text-decoration: underline;}
.nav >div:last-child ol li{ width: 100%;}

/* 타이틀 */
.tit{ position: relative;}
.tit h2{font-size: 40px; text-align: center; padding: 5px 0; letter-spacing: 2px; color: #2c94c4; font-family: 'Nanum Brush Script', cursive; }
.tit .btn{position: absolute; top: 5px; right: 0; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat 0 -600px;}

/*  배너 */
.cont_ban .ban{ position: relative; padding: 24px 0  20px;}
.cont_ban .ban a.prev{ position: absolute; left: -80px; top: 60px; width: 43px; height: 43px; background: url(../img/icon.png) no-repeat -150px 0;}
.cont_ban .ban a.prev:hover{background-position: -193px 0;}
.cont_ban .ban a.next{ position: absolute; right: -80px; top: 60px; width: 43px; height: 43px; background: url(../img/icon.png) no-repeat -150px -43px;}
.cont_ban .ban a.next:hover{background-position: -193px -43px;}
.cont_ban .ban ul{ overflow: hidden;}
.cont_ban .ban ul li{ float: left; width: 330px;}
.cont_ban .ban ul li.ban_img1{ text-align: left;}
.cont_ban .ban ul li.ban_img2{text-align: center;}
.cont_ban .ban ul li.ban_img3{text-align: right;}
.cont_ban .ban img{ border: 4px solid #dcdcdc;}
.cont_ban .ban img:hover{border-color: #95dcdc;}

/* 컨텐츠 */
.cont_cont .cont{ overflow: hidden; padding-top: 30px;}
.cont_cont .cont .column{ position: relative; float: left; width: 289px; height: 363px;  margin: 0 30px 30px 0; padding-right: 30px;}
.cont_cont .cont .col1{ border-right: 1px solid #c8c8c8;}
.cont_cont .cont .col2{ border-right: 1px solid #c8c8c8;}
.cont_cont .cont .col3{ margin-right: 0; padding-right:0;}
.cont_cont .cont .col4{ border-right: 1px solid #c8c8c8;}
.cont_cont .cont .col5{ border-right: 1px solid #c8c8c8;}
.cont_cont .cont .col6{ margin-right: 0; padding-right:0;}

.cont_cont .column .ico_img{ display: block; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat; position: absolute; left: 0; top: 0;}
.cont_cont .column .ico_tit{padding-left: 70px; font-size: 16px; color: #2c94c4;}
.cont_cont .column .ico_desc{padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px; margin-bottom: 15px;}

.cont_cont .cont .col1 .ico_img{background-position: 0 -240px;}
.cont_cont .cont .col2 .ico_img{background-position: 0 -300px;}
.cont_cont .cont .col3 .ico_img{background-position: 0 -360px;}
.cont_cont .cont .col4 .ico_img{background-position: 0 -420px;}
.cont_cont .cont .col5 .ico_img{background-position: 0 -480px;}
.cont_cont .cont .col6 .ico_img{background-position: 0 -540px;}

.cont_cont .cont .col1 .ico_img:hover{background-position: -60px -240px;}
.cont_cont .cont .col2 .ico_img:hover{background-position: -60px -300px;}
.cont_cont .cont .col3 .ico_img:hover{background-position: -60px -360px;}
.cont_cont .cont .col4 .ico_img:hover{background-position: -60px -420px;}
.cont_cont .cont .col5 .ico_img:hover{background-position: -60px -480px;}
.cont_cont .cont .col6 .ico_img:hover{background-position: -60px -540px;}


/*  게시판  */
.cont_cont .notice{ position: relative;}
.cont_cont .notice h4{ font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.cont_cont .notice ul{}
.cont_cont .notice ul li{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.cont_cont .notice ul li a{ font-size: 12px;}
.cont_cont .notice a.more{ position: absolute; right: 0; top: 0; display: block; background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px;}


/* 게시판 2 */
.cont_cont .notice2{ position: relative; margin-top: 15px;}
.cont_cont .notice2 h4{ font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.cont_cont .notice2 ul{}
.cont_cont .notice2 ul li{ overflow: hidden; background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.cont_cont .notice2 ul li a{float: left; width: 65%;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.cont_cont .notice2 ul li span{float: right; width: 30%; text-align: right;}
.cont_cont .notice2 a.more{ position: absolute; right: 0; top: 0; display: block; background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px;}


/*  게시판 3 */
.cont_cont .notice3{ position: relative;}
.cont_cont .notice3 h4{font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.cont_cont .notice3 ul{}
.cont_cont .notice3 ul li{ position: relative; padding: 8px 0 17px 60px;}
.cont_cont .notice3 ul li a{}
.cont_cont .notice3 ul li a img{ width: 50px; position: absolute;left: 0;top: 0; border:1px solid #0093bd;}
.cont_cont .notice3 ul li a strong{display: block;}
.cont_cont .notice3 ul li a span{display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.cont_cont .notice3 a.more{ position: absolute; right: 0; top: 0; display: block; background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px;}

/*  마우스 호버효과 1 */
.notice_hover{}
.notice_hover h4{font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice_hover ul{overflow: hidden; }
.notice_hover ul li{float: left; width: 93px; margin-right: 5px; text-align: center;}
.notice_hover ul li:last-child{margin-right: 0;}
.notice_hover ul li a{}
.notice_hover ul li a span{position: relative; display: block; width: 93px;height: 93px; line-height: 93px;}
.notice_hover ul li a span img{ width: 100%;}
.notice_hover ul li a span em{ position: absolute; left: 0;top: 0; background:rgb(0,0,0,0.7); color: #fff; width: 100%; height: 100%; visibility: hidden;}
.notice_hover ul li a span:hover em{visibility: visible;}
.notice_hover ul li a strong{ display: inline-block; padding-top: 3px; font-size: 12px;}

/* 로그인 */
.login_wrqp{}
.login_wrqp #login_form{background: #f2f4f5; padding: 15px;}
#login_form .login_header{ overflow: hidden; font-size: 12px; height: 30px;}
 .login_header .lh_check{ float: left; padding-right: 15px;}
.login_header .lh_check .input_check{vertical-align: -2px;}
.login_header .lh_ip{float: left;}
 .login_header .lh_ip em{color: #0093bd; text-decoration: underline;}
#login_form .login_content{position: relative;}
.login_content .ic_btn{position: absolute; right: 0;top: 0; width: 62px; height: 47px; background: #fff; border:1px solid #bebebe;}
.login_content .input_text{ width: 182px; height: 16px; padding: 2px 5px; border: 1px solid#bebebe; margin-bottom: 3px; background: #fff;}
#login_form .login_footer{margin-top: 5px;}
#login_form .login_footer ul li{display: inline;}
#login_form .login_footer ul li a{font-size: 12px;}


/*  마우스 호버효과 2 */
.notice_hover2{}
.notice_hover2 ul{overflow: hidden;}
.notice_hover2 ul li{float: left; margin-right: 5px; text-align: center;}
.notice_hover2 ul li:last-child{margin-right: 0;  }
.notice_hover2 ul li a{}
.notice_hover2 ul li a span{display: block; width: 93px; height: 93px; position: relative; color: #fff;}
.notice_hover2 ul li a span img{ width: 100%;}
.notice_hover2 ul li a span em{position: absolute; bottom: 0;left: 0;background:rgb(0,0,0,0.7); width: 100%; visibility: hidden;}
.notice_hover2 ul li a span:hover em{visibility: visible;}
.notice_hover2 ul li a strong{display: inline-block; padding-top: 3px; font-size: 12px;}


/* 콘텐츠 요소를 보이지 않게 하는 방법
   1. display:none <-> display:block
   2. visibility:hidden; <-> visibility:visible
   3. opacity:0 <-> opacity:1
   4. width:0; height:0 overflow:hidden; */


/*  탭메뉴 */
.tab_menu{ position: relative; border:1px solid #ccc; padding:8px; height: 105px;}
.tab_menu h4{}
.tab_menu ul{overflow: hidden; border-bottom:1px solid #ccc;}
.tab_menu ul li{ float: left; border:1px solid #ccc; margin-right: -1px;margin-bottom: -1px;}
.tab_menu ul li a{padding: 5px 10px; display: block;}
.tab_menu ul li ul{ position: absolute; left: 0;top: 48px;width: 270px; border:0;}
.tab_menu ul li ul li{float: none; border: 0; background: url(../img/dot.gif)no-repeat 9px 8px; padding-left: 18px;}
.tab_menu ul li ul li a{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; padding: 0 0 3px 0;}
.tab_menu ul li.active {background: #2c94c4;}
.tab_menu ul li.active a {color: #fff;}
.tab_menu ul li.active ul li a {color: #333;}


/*  공지사항 4 */
.notice4{position: relative; border:1px solid #ccc;}
.notice4 h4{ border-bottom: 1px solid #ccc; padding: 8px 10px; color: #0093bd; font-weight: 700; font-size: 14px;}
.notice4 h4 em{color: #cf3292;}
.notice4 ul{padding: 10px;}
.notice4 ul li{overflow: hidden; background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px; padding-bottom: 2px; }
.notice4 ul li a{float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 60%;}
.notice4 ul li span{float: right; width: 30%; text-align: right;}
.notice4 a.more{ position: absolute; top: 9px; right: 9px;}

/* 갤러리 */
.gallery{position: relative; border:1px solid #ccc; height: 254px; overflow: hidden;}
.gallery h4{ font-size: 14px; color: #0093bd; border-bottom:
    1px solid #ccc; padding: 10px 0 8px 11px;font-weight: bold;}
.gallery .gallery_btn{position: absolute; right: 5px; top: 5px;}
.gallery .gallery_btn ul{overflow: hidden;}
.gallery .gallery_btn ul li{float: left; margin: 1px 2px;}
.gallery .gallery_btn ul li a{display: block; width: 23px;height: 23px; background: url(../img/icon.png) no-repeat;}
.gallery .gallery_btn ul li.gb_icon1 a{background-position: -150px -143px;}
.gallery .gallery_btn ul li.gb_icon2 a{background-position: -150px -166px;}
.gallery .gallery_btn ul li.gb_icon3 a{background-position: -150px -189px;}
.gallery .gallery_btn ul li.gb_icon4 a{background-position: -150px -120px;}
.gallery .gallery_btn ul li.gb_icon1 a:hover{background-position: -173px -143px;}
.gallery .gallery_btn ul li.gb_icon2 a:hover{background-position: -173px -166px;}
.gallery .gallery_btn ul li.gb_icon3 a:hover{background-position: -173px -189px;}
.gallery .gallery_btn ul li.gb_icon4 a:hover{background-position: -173px -120px;}
.gallery .gallery_img ul li a img{width: 100%;}


























